{{>header}}
<div class="container">
    <div class="banner">
            <img src="../../images/js.png" alt="Banner" />
    </div>
    <div class="content">
            <h1>Home Page</h1>
            <p> This is about home page.</p>
    </div>
</div>
{{>footer}}