<html lang="en">
  <head>
    <title> My portofio</title>
    <link rel="stylesheet" href="./../css/style.css"/>
  </head>
  <body> 
 <header class="header">
  <div> 
    <div>
       <img src="./../images/js.png" height="50" width="50"  alt="logo"/>
    </div>
    <div> 
   <nav class="nav">
     <ul class="menu">
        <li class="menu-li"><a href="/">Home</a></li>
        <li class="menu-li"><a href="/investment">My Investment</a></li>
        <li class="menu-li"><a href="/portfolio">My Portofio</a></li>       
        <li class="menu-li"><a href="/office-work">My Office work</a></li>
        <li class="menu-li"><a href="/document">My Document</a></li>
        <li class="menu-li"><a href="/course">My Course</a></li>
        <li class="menu-li"><a href="/education">My Eduction</a></li>
        <li class="menu-li"><a href="/skill">My Skill</a></li>
        <li class="menu-li"><a href="/experience">My Experience</a></li>
        <li class="menu-li"><a href="/friend">My Friend</a></li>
        <li class="menu-li"><a href="/team">My Team</a></li>
     </ul>
   </nav>
    </div>
   </div>
 </header>
{{!-- 
 My-portofio
->My Profile
->My Health
-My Diet
->My Office work
->My Family
->My Goal
->myInvetment
->My brand
->my Food
->My Frients
->My mentors
->Eduction
->My Hobies
->My Schedule
->my Meeting
->My Project
->My Document --}}